DISCORD_TOKEN=
DISCORD_CLIENT_ID=
OWNER_IDS=
GOOGLE_SHEET_ID=1us509-NRLBLkStxr6lKugg8AQaDUaWv483mFcyd1260
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"YOUR_PROJECT","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"YOUR_SERVICE_ACCOUNT_EMAIL","client_id":"..."}
PERSONNEL_ROSTER_SHEET_NAME=Personnel Roster
PERSONNEL_DATABASE_SHEET_NAME=Personnel Database
PERSONNEL_DATA_START_ROW=2
PERSONNEL_DATABASE_RP_NAME_COL=D
TRAINING_TIMEZONE=Europe/London
